.heading{
  text-align: center;
  font-size: 17px;
  margin-top: -15px;
}

.posts {
  margin: 0 auto;
  padding: 3rem 1rem 4rem;
  text-align: center;
}

.post {
  a {
    color: #555;
    &:hover {
    color: #222;
        }
      }
  }
  .meta {
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .featured {
    max-height: 250px;
  }
  .excerpt {
    margin: 30px 0 15px;
    font-weight: 300;
    height: 93px;
    letter-spacing: 0.02em;
  }
  .button {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0;
    a {
      color: #555;
      padding: 8px 12px;
      border: 1px solid #555;
      &:hover {
        color: #fff;
        border-color: #222;
        background-color: #222;
      }
    }
  }