*{
    /*outline: green solid;*/
   }
   
   .appContent{
     position: relative;
     min-height: 920px;
     max-width: 100%;
     align-items: center;
     text-align: "center";
     padding-left: 1px;
     padding-bottom: 60px;
     margin: 4px 0px;
     display: flex;
     flex-direction: column;
   }
      
   .form, .users {
     margin: 0px auto;
   }
   
   .form {
     display: flex;
     max-height: 90%;
     justify-content: center;
     align-content: center;
     flex-direction: column;
     font-weight: 800;
   }
   
   .form > div {
     margin-top: 10px;
   }
   .form button {
     margin-top: 1px;
     max-width: 144px;
     min-width: 80px;
   }
   
   .form button span{
     margin: 1px 5px;
   }
   
   #formSubmit{
     color: rgb(18, 221, 18);
   }
   
   .warnings{
     color: rgb(248, 51, 25);
     font-size: 13.5px;
     font-weight: 300;
     font-family: cursive;
   }
      
   .successMsg{
     margin: 5px auto;
     padding: 16px;
     color: rgb(18, 221, 18);;
   }
   
   .article-list{
     text-align: center;
   }
   
   .article-search{
     margin: 10px;
     padding: 0px;
     min-width: 40%;
     display: flex;
     float: center;
     flex-direction: row-reverse;
   }
   
   #list-search{
     min-width: 65%;
   }
   
   .searchbox{
     background-color: #ffffcc;
     padding-left: 5px;
     margin: 5px;
     margin-top: 9px;
     width: 45%;
     height: 34px;
     border-radius: 12px;
     -webkit-transition: width 0.15s ease-in-out; 
     transition: width 0.15s ease-in-out; 
   } 
   
   /* When the input field gets focus, 
       change its width to 100% */
   .searchbox:focus{
     width: 75%;
   } 
   
   #listing, .cardy{
     height: 100%;
   }
   



   /*new style starts here*/
.btn:hover,
.btn:focus,
.btn:active{
    outline: 0 !important;
}
/* entire container, keeps perspective */
.card-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


.card-container.static:hover .card,
.card-container.static.hover .card {
	-webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.card {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
  z-index: 2;
  color: #eccccc !important;
}

/* back, initially hidden pane */
.back {
		-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}

.back .btn-simple{
    position: absolute;
    left: 0;
    bottom: 4px;
}
/*        Style       */


.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
    padding-bottom: 20px;
}
.card-container, .front, .back {
	width: 100%;
	height: 480px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 1px 2px 2px;
}
.card .content .main {
    min-height: 160px;
    border: 1px blue solid;
}

.card .name {
		font-family: 'Arima Madurai', cursive;
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .header {
    padding: 2px;
    border: 1px;
    border: 1px solid;
}
.card .motto{
		font-family: 'Arima Madurai', cursive;
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 2px;
    text-align: center;
}

.card .stats-container{
	width: 100%;
	margin-top: 50px;
}
.card .stats{
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
}

.card .stats:first-child{
	border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
	border-left: 1px solid #EEEEEE;
}
.card .stats h4{
		font-family: 'Arima Madurai', cursive;
	font-weight: 300;
	margin-bottom: 5px;
}
.card .stats p{
	color: #777777;
}
/*      Just for presentation        */

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}
.title small{
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}
.space-30{
	height: 30px;
	display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-200{
    height: 200px;
    display: block;
}
.white-board{
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}
.ct-heart{
    color: #F74933;
}

 pre.prettyprint{
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
     color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
   color: #333;
}
.com{
    color: #999;
}

.btn-simple{
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-default{
  position: absolute;
  opacity: .8;
  left: 40%;
  color: #000000;
  background-color: #fdfafa;
  z-index: 1234567;
}

.btn-simple:hover,
.btn-simple:focus{
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}
.btn-simple i{
    font-size: 16px;
}

.navbar-brand-logo{
    padding: 0;
}
.navbar-brand-logo .logo{
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}
.navbar .navbar-brand-logo .brand{
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}
.navbar-default .navbar-brand-logo .brand{
    color: #555;
}


/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}

.contstack {
  margin: 1em auto;
  height: 540px; 
}

.inner-contstack {
  position: relative;
  width: 100%;
  height: 480px; 
  max-width: 100%;
  min-width: 360px;
  width: 100%;
  margin: 0 auto 100px;
}

.contentstack {
  position: absolute;
  opacity: 0;
  left: 1%;
  width: 98%;
  margin: 0 auto;
  z-index: 11;
}

.activestack {
  display: block !important;
  margin: 0 auto;
  opacity: 1;
  transition: ease-in-out 1s;
}

.cardstack {
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding: 1em 0;
  height: 470px;
  box-sizing: border-box;
  transition: .3s ease;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.35);
}