.nav-container {
    width: 100%;
    background: #93acf0e1 !important;
    border-top: 2px solid rgba(74, 62, 247, 0.897);
  }
  
  .nav-list {
    margin: 0px 34px;
    padding: 1px 10px;
    list-style: none;
  
    .butts{
      width: 80px;
      margin: 1px 5px;
      padding: 1px 6px;
      text-transform: uppercase;
      color: rgb(8, 14, 25);
      font-size: 14px;
      font-weight: bold;
      opacity: 0.9;
  
      &:hover {
        text-decoration: underline;
        background-color: rgb(253, 238, 103);
      }
    }

    .active-menu-item {
        text-decoration: underline;
      }
  }